$color_lightgrey:  #BABEC4; 
$color_red: #AB0433;
$color_white: #FFFFFF;
$color_black: #000000;
$borderColor: #DBDBDB;
$grey: #888B91;
$header__bg: #0A0A0B;
$link__hover: #4177DC;
$main-title:  #F1F2F3;
$brands: #111213;